*.tif
*.tiff
__pycache__
.venv/
__pycache__
.venv
9_slices
contours
cropped_whole_stack
full_data
multi_stage
new
new_cropped
new_full
new_slices
new_slices_1
sample_image
simple
simple_slices
superimposed_multi_stage